# Caches e arquivos compilados
__pycache__/
*.py[cod]
*.pyc


# Arquivos temporários
*.tmp
*.temp
*.backup
*.swp
*.bak

# Notebooks checkpoints
.ipynb_checkpoints/

# Configurações de sistema e IDE
.DS_Store
.vscode/
.idea/

# Ambiente virtual
.venv/
venv/

# Arquivos de BI
dashboards/Contratos.pbix
dashboards/Gestão de Contratos.pbix
